<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Black metal forum</title>
    <style>
      body{
          background-color: rgb(40,41,45);
          color: white;

      }
      
      .ing{
        width: 100%;
        text-align: center;
        font-size: 50px;
        color: white;
        letter-spacing: 5px;
      }

      .gam_thx{
        width: 100%;
        text-align: center;
        font-size: 40px;
        letter-spacing: 5px;
        color: white;
      }
    </style>
</head>
<body>
    <div class="ing"><i>Gb Bot</i></div>
    <div class="gam_thx">Спасибо, что играете!</div>
</body>
</html>